@charset "utf-8";

/* layout */
#wrapper {}
main {}
#subBanner { width: 100%; height: 40vh; background: url('../img/sub_banner.png') no-repeat center/cover;}
#greeting { }
.subInner { max-width: 1200px; height: 100%; width: 80%; margin: auto;}

.list-wrap .list-container { overflow:hidden; margin-right:-15px; margin-bottom:0px; }
	.list-wrap .list-row { float:left; width:33.33%; }
	.list-wrap .list-item { margin-right:15px; margin-bottom:30px; }
/* subBanner */
.bannerInner {
    color: var(--light);
    text-align: right;
    padding-top: 129px;
}
.subInner h2 {
    font-weight: 700;
    font-size: 2.7rem;
}
/* greeting */
.greetInner {
    display: flex;
    padding :2vw 0 7vw;
}
.widgetBox { width: 20%; padding-right: 3vw;}
.widgetBox h3 {
    font-size: 1.3vw;
    padding: 5%;
    font-weight: 700;
}
.widgetBox ul {}
.widgetBox ul li{
    border-bottom: 1px solid var(--darkFont);
    padding: 4% 5%;
}
.widgetBox ul li:first-child {border-top: 3px solid var(--border); }
.widgetBox ul li a {display: block;}
.pageBox { width: 80%; }
.pageBox .pageCont {
    display: none;
}
.pageInner {display: flex; align-items: center;}
.pageLeft {width: 70%; padding-right: 3vw;}
.pageRight {width: 30%;}

.pageLeft em {
    font-size: 1.3rem;
    line-height: 3rem;
    color: var(--point);
}
.pageCont img {width: 100%;}
.pageCont h3 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 2vw;
}
.certificWrap {
    overflow: hidden;
}
.certificWrap li {
    float: left;
    width: 33%;
}
.certific {
    float: left;
    width: 33%;
}
.profileImg {
    width: 30%;
    margin: auto;
}
.profileTxt p {
    font-size: 1.3rem;
    font-weight: 700;
}
/* location */
.greetingMapCont {display: block;}
.greetingMap {width: 100%;}
.greetingMap img {height: 21vw;}
.greetingMapCont .locaInfo {
    width: 100%;
    color: var(--main);
    font-size: 1rem;
    font-weight: 400;
    margin: 2vw 0;
    border: 1px solid var(--darkFont)
}
.greetingMapCont .locaInfo em {
    padding: 1% 7%;
    font-weight: 700;
    border-right: 1px solid var(--darkFont);
}
.greetingMapCont .locaInfo p {padding: 1% 2%;}
.address , .inquiry  {
    display: flex;
    border-bottom: 1px solid var(--darkFont);
}
@media (max-width: 1024px) {
    /* greeting.html */
    .greetInner {flex-wrap: wrap-reverse;}
    .pageBox , .widgetBox {
    width: 100%;
    padding: 5vw 0;
    }
    .widgetBox h3 {
        font-size: 3vw;
        padding: 3%;
        font-weight: 700;
        text-align: center;
    }
    .widgetBox ul li {
        padding: 3% 4%;
    }
}
