@charset "utf-8";
:root {
    --main: #333333;
    --light: #fff;
    --lightGray: #F7F7F7;
    --darkFont: #999999;
    --point: #3974CC;
    --icon: #0C2286;
    --em: #CC394B;
    --border: #0C2286;
    --fontBg: #EDF3FB;
}

/* layout */

#wrapper {}
header { top: 0; position: fixed; width: 100%; height: 80px; z-index: 10000; background: rgb(0,0,0,0.4);}
main {}
#mainBanner { position: relative; width: 100%; height: 100vh;}
#mainLink {width: 100%; height: 100vh;}
#mainNotice {width: 100%; height: 100vh;}
#mainLocation {width: 100%; height: 100vh; background: url('../img/main_sec3.png') no-repeat center/cover;}
#footer { width: 100%; height: 243px; border-top: 1px solid var(--darkFont)}

.mainInner {
  width: 90%;
  max-width: 1700px;
  margin: auto;
  padding-top: 5vw;

}
.subTit {

}
.subTit span {
  font-size: 1.1rem;
  color: var(--point);
}
.subTit h3 {
  font-weight: 700;
  font-size: 2.5rem;
  position: relative;
}
.subTit h3::after {
  width: 150px;
  content: '';
  height: 1px;
  background: var(--main);
  position: absolute;
  top: 27px;
  left: 157px;
}
.locaTit h3::after {display: none;}
/* header */
.headerInner {
     width: 90%; 
     margin: 0 auto; 
     display: flex; 
     justify-content: space-between;
     align-items: center;
     max-width: 1700px;
     height: 80px;
}
h1.headLogo {
    width: 109px;
}
h1.headLogo a {
    display: block;
    width: 100%;
    height: 100%;
}
h1.headLogo a img {
    width: 100%;
    height: 100%;
}
nav {
    margin: 0 auto;
    width: 60%;
    height: 80px;
}
nav ul { 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav ul li {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a { 
    display: block;
    color: var(--light); 
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mMenuWrap {display: none;}
/* mainBanner */
.mainTit {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
}
.mainLogo {
    background: url('../img/logo.svg') no-repeat center/cover;
    background-size: contain;
    width: 123px;
    height: 50px;
    margin: auto;
}
.mainTxt {
    text-align: center;
}
.mainTxt span {
    font-weight: 700;
    font-size: 2.7rem;
    display: block;
    padding: 4% 0;
}
.mainTxt span::after {
    display: block;
    content: '';
    position: absolute;
    width: 168px;
    left: 25%;
    height: 1px;
    margin-top: 1%;
    background: var(--light);
}
.mainTxt p {
}

swiper-slide img {
    width: 100%;
    height: 100vh;
  }
/* mainLink */
  .mainLinkBg {
    position: relative;
    height: 100vh; 
  }
  .linkBox {
    width: 100%;
  }
  .linkBox ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vw;
  }
  .linkBox ul li {
    position: relative;
    width: 16vw;
  }
  .linkBox ul li a {
    display: block;
    width: 13vw;
    height: 12vw;
    text-align: center;
  }
  .linkBox ul li:first-child a img, .linkBox ul li:last-child a img {
    padding-top: 2.1vw;
  }
  .linkBox ul li:nth-child(odd) a {
    position: absolute;
    top: -13%;
    left: 9%;
  }
  .linkBox ul li:nth-child(even) a {
    position: absolute;
    bottom: 12%;
    left: 9%;
  }
  .linkBox ul li:nth-child(1) a {
    background: linear-gradient(180deg, rgba(255, 106, 106, 0.83) -9.92%, #FF6A6A 49.79%);
  }
  .linkBox ul li:nth-child(2) a {
    background: linear-gradient(179.79deg, rgba(57, 116, 204, 0.74) 0.18%, #3974CC 58.83%);
  }
  .linkBox ul li:nth-child(3) a {
    background: linear-gradient(179.81deg, rgba(255, 168, 67, 0.81) 0.17%, #FFA843 63.25%);
  }
  .linkBox ul li:nth-child(4) a {
    background: rgba(110, 227, 115, 0.8);
  }
  .linkBox ul li a span {
    display: block;
    color: var(--light);
    font-size: 1vw;
    font-weight: 700;
  }
  .linkBox ul li a img {
    padding-top: 1.1vw;
    width: 6vw;
  }
  .linkBox li .linkImg {
    width: 100%;
    height: 25vw;
  }
  .linkBox li:nth-child(even) .linkImg {
    margin-bottom: 7vw;
  }
  .linkBox li:nth-child(1) .linkImg {
    background: url('../img/main_sec_1.png') center/cover no-repeat;
  }
  .linkBox li:nth-child(2) .linkImg {
    background: url('../img/main_sec_2.png') center/cover no-repeat;
  }
  .linkBox li:nth-child(3) .linkImg {
    background: url('../img/main_sec_3.png') center/cover no-repeat;
  }
  .linkBox li:nth-child(4) .linkImg {
    background: url('../img/main_sec_4.png') center/cover no-repeat;

  }
  .bgWhite {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    background: var(--light); 
  }
  .bgWhite::after {
    content: 'BCK';
    position: absolute;
    font-size: 20vw;
    font-weight: 700;
    color: var(--lightGray);
    bottom: -4vw;
  }
  
  .bgGray {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background: var(--lightGray); 
    z-index: -1;
  }
  .bgGray::after {
    content: 'BCK';
    position: absolute;
    font-size: 20vw;
    font-weight: 700;
    right: 0;
    bottom: -12vw;
    color: var(--light);
    font-style: normal;
  }
  /* mainNotice*/
  .noticeInner {
    display: flex;
  }
  .noticeTit { width: 30vw;}
  .noticeTit p {
    padding-top: 1vw;
    font-size: 1.8rem;
    font-weight: 900;
  }
  .noticeTit p em {
    color: var(--darkFont);
  }
  .noticeBox { 
    width: 100%; 
    padding-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .boxList {
    width: 33vw;
    height: 36vh;
    background: var(--lightGray);
    margin-top: 10px;
  }
  .boxInner {
    padding: 1vw 2vw;
  } 
  .boxBtn {
    display: flex;
    justify-content: space-between;
    color: var(--em);
  }   
  .boxBtn a {
    color: var(--em); 
  }       
  .boxList em { 
    position: relative;
    font-size: 1.3rem;
    /* padding-bottom: 50px; */
    display: block;
    
  }
  .boxList iframe {
    width: 100%;
    height: 236px;
    overflow: hidden;
  }
  /* .boxList em::after {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    background: var(--em);
    right: 0;
    top: 0;
  } */
  .boxList strong  {
    font-size: 1.1rem;
  }
  .boxList p {
    font-size: 1rem;
    height: 6vw;

  }
  .boxList span {
    display: block;
    font-size: 0.9rem;
  }

  /* mainLocation */
  .locacont {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .locaTit h3 {
    color: var(--light);
    text-align: center;
    padding-bottom: 1.5vw;
  }
  .locaInner {}
  .locaMap {
  }
  .kakaoMap {
    width: 100%;
    height: 100%;
  }
  .mapAddress {
    width: 100%;
    height: 74px;
    background: rgb(0,0,0,0.5);
    color: var(--light);
  }
  .mapAddress address {
    text-align: center;
    padding-top: 25px;
  }
  .locaMap img {
    width: 49vw;
    height: 30vw;
  }
  .locaInfo {
    width: 26vw;
    color: var(--light);
    font-weight: 700;
    font-size: 1.3rem;

  }
  .locaIcon {
    display: flex;
    align-items: center;
    padding: 0.3vw 0;
  }
  .iconBox {
    width: 139px;
    height: 49px;
    border-radius: 30px;
    background: var(--icon);
  }
  .iconTxt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0.3vw;
  }
  .consult {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0;
  }
  .consult a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light);
  }
  .consult img {}
  .consult span {
    font-size: 1rem;
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
  }
  .callNum span {
    padding-left: 0.7vw;
  }
  /* footer */
  .footInner {
    width: 90%;
    max-width: 1700px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footInfo {}
  .footInfo span {
    display: block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .footLogo {
    background: url('../img/logo.svg') no-repeat center/cover;
    background-size: contain;
    width: 150px;
    height: 90px;
  }