@charset "utf-8";

body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption {margin:0; padding:0;}

/* font*/
body, input, textarea, select, button, table { font-family: 'Noto Sans KR', sans-serif; }
em, address { font-style: normal; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; }


/* style */
ul, li, ol {list-style: none;}
a { text-decoration: none; color: var(--main);}
button{ background: transparent ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer; }
iframe {pointer-events: none;}
span {display: block;}
  


/* IR */
.ir_pm {display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height: 100%;} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_so {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
