@charset "utf8";

/* width */
.table_wrap::-webkit-scrollbar { width: 20px; height:10px; }

/* Track */
.table_wrap::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.table_wrap::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
.table_wrap::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.page-content .table_wrap {display: flex; overflow-x: auto;}
.page-content div[class^='con'] h4 + div,
.page-content div[class^='con'] h4 + p { padding:0 0 10px;}

.page-content {  word-break: break-all; line-height:1.6; word-wrap: break-word; margin-bottom:50px; }    
 .page-content .clear:after { content:''; display:block; clear:both;}
 .page-content ul, .page-content ol { padding:0;}
 .page-content ul li, .page-content ol li { list-style:none; padding: 0 0 12px;}        
 .page-content li p { padding:0 0 5px; font-weight:500;  font-size:16px}
 .page-content li span { display:block; padding: 2%; width: 45%; border: 1px solid var(--darkFont); margin-top: 2%;}
 .page-content  b, .page-content strong { font-weight:500;}
 .page-content em { font-style: normal; font-weight:400;}
 .page-content .img {text-align: center;}
 .page-content span > b { color:#f59704;}
 .page-content .clear { display: flex; flex-wrap: wrap; justify-content: space-between;}
 .page-content h4 {  position: relative; padding: 0 0 20px; margin:0;  color: #2e3192; font-size: 21px; font-weight: 700; text-indent: 22px;}
 .page-content h4:after { content: ''; position: absolute; left: 0; top: 7px; display: block; width: 11px; height: 11px; background: #2e3192; transform: rotate(45deg)}

    
 .page-content img {width: 100%;}
 .page-content div[class*='con'] {  position:relative; padding: 0 0 50px;}    
    
 .page-content  table { width:100%;}
 .page-content  table th,
 .page-content  table td { padding:10px 5px; border:1px solid #ddd; text-align: center;}     
 .page-content  table th { text-align:center; font-weight: 500; }
 .page-content  table td { font-family: dotum,sans-serif; font-size:12px; }    
 .page-content  table thead th { background: #3498db; color:#fff; }
 .page-content  table tbody th { background: #f5f5f5;}

.page-content div.bg_gray { padding:10px !important; margin:0 0 10px; background:#f5f5f5;}

/* 코셔/할랄 인증 */
/* ----------------------
161111 NEWBREED (임지선) 
---------------------- */

/*----------------------------기본 스타일-----------------------------------------*/
/*
html, body, 
div, 
dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, 
blockquote, p, address, pre, cite, 
form, fieldset, input, textarea, select, 
table, th, td,
a {
	font-family:"Malgun Gothic", "dotum", sans-serif; 
	font-size:16px; 
	color: #333;
}
*/
body{
	font-family:"Noto Sans kr", "Malgun Gothic", "dotum", sans-serif; 
	font-size:16px; 
	color: #333;
}
a {font-size:16px; color: #333;}
.f_square {font-family:"Noto Sans kr", "NanumSquare" !important;}


/* ------------------ 컬러 값 ---------------------- 

::텍스트 
basic #333
deep blue #004990
sky blue #4581c9

::오브젝트
deep blue #004990 (텍스트 deep blue와 동일)
SET(blue green blue) #6699cc #66cccc #4581c9
light blue #6db0d6(메인 박스그룹bg)

::표 
헤더 bg(light blue) #6db0d6 
     bg(blue) #3478c1
-------------------------------------------------------*/

/*------------------------------------레이아웃------------------------------------*/
.inner { position:relative; margin:0 auto; width:1000px;width:1000px;}

/* 메인만 해당 */
.main_wrap .inner {width:998px;}

#wrap {width:100%; min-width:1000px; background:#fff;overflow:hidden;position:relative;}
#header, #container, #footer {width:100%; min-width:1000px;}

#header {position: absolute; top: 0; left: 0; z-index: 100; background: #fff;}
#container {margin-top: 146px;}
#footer {background:#dadee2; padding-bottom:20px;}
.content-wrap {}
#content {padding:60px; background:#f8f8f8;}
/*------------------------------------헤더---------------------------------------*/
/* 탑 영역 (로고, 네비, 멤버 ) */
.logo {float:left; display:table;} 
.top-info {width: 100%;height:35px;line-height:35px;float:right; text-align: right;}
.top-info a {font-size:12px; color:#444;
    background-position:left center;
    padding-left:21px;
    background-repeat:no-repeat;
}
.top-info .tel {background-image:url(../images/ico_tel.png);}
.top-info .mail {background-image:url(../images/ico_mail.png);}
.top-info .bottom {padding-top:10px; }
.top-info .bottom a {margin-left:5px;}
.top-site {float:right;}
.top-site a{line-height:50px;}
.top-site a:nth-child(1){margin-right:10px;}
.top-site a img{vertical-align:middle;}
.top-site a span{font-size:12px;padding-right:8px;color:#222;}

.top_search_box input { border-bottom:1px solid #000; padding:7px 3px; width: 220px;}
.search_box input::placeholder { color:#999; letter-spacing:-0.5px; }
.top_search_box { position:absolute; top: 50%; transform: translateX(-50%); left: 50%;}
.top_search_box .btn-search { position:absolute; bottom:0; right:0; width:25px; height:25px; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Ccircle cx='116' cy='116' r='84' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/circle%3E%3Cline x1='175.39356' y1='175.40039' x2='223.99414' y2='224.00098' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/line%3E%3C/svg%3E");
background-size:80%; background-repeat:no-repeat; }
/*------------------------------------gnb--------------------------------------------*/
/* .gnb-area {margin-top:20px;} */
.gnb {}
.gnb > li {float:left; box-sizing:border-box;}
.gnb li a {font-size:15px; color:#454545; text-transform:capitalize; 
letter-spacing: -0.6px; 
}
.gnb li a.on,
.gnb li a:hover{color:#004990; /* font-weight:bold; */}

.gnb.depth1 li {padding:10px 0 15px;}
.gnb.depth1 li.on,
.gnb.depth1 li:hover {background:url(../images/arrow_gnb.png) center bottom no-repeat;}
.gnb.depth1 li a {
    padding-left:10px;
    display: block;
    line-height: 2.2;}
.gnb.depth1 li a.lineH {line-height:1.1;}

.depth2-wrap {border-top:3px solid #004990;
    background:url(../images/bg_gnb.png) repeat;
    overflow:hidden;
    box-shadow:0 2px 2px rgba(0,0,0,0.2); 
    height:0;
}
.depth2-wrap.on {height:190px;border-bottom:1px solid #ccc\9;}
.gnb .depth2 {padding:6px 0; /* height:100vh;  min-height:305px;*/min-height:190px; }
.gnb .depth2.on,
.gnb .depth2:hover{background:#f7f7f7;}
/*.gnb .depth2 > li {padding-bottom:4px;}*/
    /* ie11 핵 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.gnb .depth2 > li { padding-bottom:12px }
}
.gnb .depth2 > li > a {font-size:13px; display:inline-block; 
padding-left:10px; line-height: 1.2;}


/*------------------------------------메인 비주얼---------------------------------------*/
.visual-area.main {
    background:#b8bdc1 url(../images/main_visual_bg.gif);
    height:310px; background-size: auto 400px;text-align:center;}
/*.bx-wrapper { min-width:1920px; }*/
.bxslider li { /*background-size: 100% 100%; float:left; width: 100%; */ background-repeat: no-repeat; height:304px; background-size: cover; background-position: center center;}
.bx-controls .bx-controls-direction .bx-prev { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23ffffff' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='160 208 80 128 160 48' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='10'%3E%3C/polyline%3E%3C/svg%3E");
 left:3%; background-size:cover; z-index:50; }
.bx-controls .bx-controls-direction .bx-next { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23ffffff' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='96 48 176 128 96 208' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='10'%3E%3C/polyline%3E%3C/svg%3E");
 right:3%; background-size:cover; z-index:50; }
.bx-prev,.bx-next { font-size:0; line-height:0; position:absolute; top:50%; width:70px; height:70px; opacity:0.7; padding:0; -webkit-transform:translate(0, -50%); -ms-transform:translate(0, -50%);
transform:translate(0, -50%); cursor:pointer; border:none; outline:none; }
.bx-wrapper { position:relative; }
.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display:inline-block; vertical-align:bottom; }
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto { position:absolute; bottom:15px; left:0; width:100%; text-align:center; }
.pslide .bx-pager, .pslide .bx-controls-auto { position:absolute; bottom:-30px; left:0; width:100%; text-align:center; }
.bx-wrapper .bx-pager.bx-default-pager a { background:fff; border:1px solid #fff; text-indent:-99999px; display:block; width:10px; height:10px; margin:0 6px; 
outline:0; -webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%; transition:width 0.5s; }
.bx-wrapper .bx-pager.bx-default-pager a.active { background:#fff; }
/*------------------------------------메인 : 바디--------------------------------------*/
.main_third1, 
.main_third2,
.main_third3 {margin:15px 0;color:#fff;}
.main_third1 > li,
.main_third2 > li,
.main_third3 > li {float:left; width:323px;height:249px; margin-left:15px; padding-top:25px; padding-bottom:10px; padding-left: 20px; box-sizing: border-box; }
.main_third1 > li:nth-child(1) {margin-left:0;background:url(../images/main_about1.jpg) no-repeat;background-size: 100%;}
.main_third1 > li:nth-child(2) {width:322px;background:url(../images/main_about2.jpg) no-repeat;background-size: 100%;}
.main_third1 > li:nth-child(3) {background:url(../images/main_about4.jpg) no-repeat;background-size: 100%;}
.main_third1 h3,
.main_third2 h3,
.main_third3 h3{font-size:27px; margin-bottom:10px;font-weight:bold;color:#333;}
.main_third1 p,
.main_third2 p,
.main_third3 p{font-size:13px; line-height:1.3;margin-bottom:15px;color:#555; height: 84px; letter-spacing: -0.2px;}

    /* 전화녹취운영 / 해외규격인증지원사업 */
.main_third2 > li:nth-child(1) {margin-left:0;background:url(../images/main_certi.jpg) no-repeat;background-size: 100%;}
.main_third2 > li:nth-child(2) {width:322px;background:url(../images/main_about3.jpg) no-repeat;background-size: 100%;}
.main_third2 > li:nth-child(3) {background:url(../images/main_voice.jpg) no-repeat;background-size: 100%;}

.latest_notice h3 {color:#3a3a3c !important; text-align:left;}
.latest_notice > ul {padding-top:15px;background:url(../images/line.gif) left top repeat-x;text-align:left;}
.latest_notice > ul > li {margin-bottom:10px;background:url(../images/bullet_squ.gif) left center no-repeat;padding-left:10px;}
.latest_notice p,
.latest_notice > ul > li > a {font-size:12px;color:#666;padding-top: 2px;}
.latest_notice > ul > li > span {font-size:12px;color:#888;}
.latest_notice .btn_more {position: absolute; top: 30px; right: 20px;}

.main_bottom {margin-bottom:15px;}
.main_bottom li h3 {padding: 22px; font-size:22px;font-weight:bold;color:#222;}

/*
.main_bottom li {width:492px;height:125px;line-height:125px;margin-left:15px;color:#fff; background:url(../images/main_webhard.jpg) no-repeat;}
.main_bottom li:nth-child(1) {width:491px;margin-left:0;background:url(../images/main_apply.jpg) no-repeat;}
.main_bottom li p {font-size:13px;line-height:1.3;margin-left:25px; margin-top: 40px;}
*/

.main_bottom li p {font-size: 13px; line-height: 1.3; margin-left: 25px; position: absolute; left: 0; transform: translateY(-50%); top: 68%;}
.main_bottom li {height: 125px; color: #fff; width: 323px; margin-left: 0; background-position: right top !important; position: relative; outline: 1px solid #ddd; background-size: cover !important;}

.main_bottom li:nth-child(1) {background: url(../images/main_apply.jpg) no-repeat;}
.main_bottom li:nth-child(2)  {background: url(../images/main_webhard.jpg) no-repeat; width: 322px !important;}
.main_bottom li:nth-child(3)  {background: url(../images/main_hallal.jpg) no-repeat;}

.main_bottom li:nth-child(n+2) {margin-left: 15px;}

.main_bottom li a {font-size:12px; width:127px; height:30px;line-height:30px; display: inline-block; padding:3px 0 3px 5px; background:#0065c8 url(../images/arrow_btn.png) right 10px center no-repeat; color:#fff;}

.main_bottom li .btn_blue{background:#004990 url(../images/arrow_btn.png) right 10px center no-repeat;}

    /* 해외지사 / 고객센터 */
.main_third3 {}
.main_third3 h3 {color:#fff;}
.main_third3 p {color:#fff; margin-bottom: 30px;}
.main_third3 > li {width:284px; padding:20px;}
.main_third3 > li:nth-child(1) {margin-left:0;background:url(../images/main_bottom1.jpg) center no-repeat;background-size: cover;}
.main_third3 > li:nth-child(3) {background:url(../images/main_branch.jpg) center no-repeat;background-size: cover;}
    /* 최근게시물 - 공지사항 */
.main_third3 > li:nth-child(2) {width:400px;padding:20px; background:#fff;background: url(../images/main_notice.jpg) no-repeat;background-size: cover;position:relative;}


/*
.main_bottom2 li {height:180px;background:url(../images/main_cs.jpg) no-repeat;background-size: 100% 100%;}
.main_bottom2 li:nth-child(1) {background:url(../images/main_branch.jpg) no-repeat;background-size: 100% 100%;}
.main_bottom2 li h3 {font-size:27px;padding-top:10px;padding-left:0;}
.main_bottom2 li p {margin-left:0;}
.main_bottom2 li a {border:none;background:none;margin-right:0;padding:0;}*/

/*------------------------------------푸터---------------------------------------*/
.footer-top {border-bottom:1px solid #ced3d7; padding:10px 0;}

.company-info {color:#61666b; line-height:1.5;margin-left:210px;}
.company-info ul {margin-bottom:20px;}
.company-info li {float:left; color:#73787d; font-size:12px;}
.company-info li a {color:#73787d; font-size:13px;}
.company-info li a.on,
.company-info li a:hover{color:#fff;}
.company-info li:before {
    content:'|';
    padding:0 10px;
    font-size:12px;
    color:#92969a;
}
.company-info li:first-child:before {
    content:'';
    padding:0;
}

.foot_info {font-size:12px;padding-left:210px;
background:url(../images/logo2.jpg) 24px top no-repeat;line-height: 1.4;
color:#73787d;}

/* 방문자 카운터 */
.foot_counter {border:1px solid #b1b6bb;padding:0 5px; right:0;top:15px;}
.foot_counter > p {text-align:right;color:#898e92;font-size:12px;background:url(../images/counter_total.png) left center no-repeat;width:110px;padding:5px 2px;}
.foot_counter > p:first-child {color:#4d94c9;border-bottom:1px dashed #a2a7ab;background:url(../images/counter_today.png) left center no-repeat;}
/*------------------------------------서브 메뉴---------------------------------------*/
/* 서브 비주얼*/
.visual-area.sub {border-bottom:1px solid #6c6c6c;}
.visual-area .sub {
    background-position:center top;
    background-repeat:no-repeat; 
    height:192px;
	overflow:hidden;
	background-size: cover;
	}
.visual-area .sub > .inner {/*background:url(../images/since.png) left 40px no-repeat; 
padding-left:150px;padding-bottom: 50px;padding-top: 12px;width: 850px;*/}
.visual-area .sub > .inner._longTXT {padding-top:0;}
.visual-area .sub h1 {color:#fff; font-size:34px; padding:10px 0;font-family:"NanumSquare" !important;font-weight:bold;}
.visual-area .sub p {color:#fff; font-size:15px;text-align:cetner;}
.visual-area .sub .s_txt{padding-top:30px;opacity:0.9;}
.visual-area .sub .subvisual_txt{width:326px; height:326px; background:url(../images/sub_bg.png) left bottom 50px no-repeat;text-align:center;}
.visual-area .sub1{background-image:url(../images/bg_sub1.jpg);}
.visual-area .sub2{background-image:url(../images/bg_sub5.jpg);}
.visual-area .sub3{background-image:url(../images/bg_sub3.jpg);}
.visual-area .sub4{background-image:url(../images/bg_sub4.jpg);}
.visual-area .sub5{background-image:url(../images/bg_sub2.jpg);}
.visual-area .sub6{background-image:url(../images/bg_sub6.jpg);}
.visual-area .sub7{background-image:url(../images/bg_sub7.jpg); background-position-y: -150px;}


/* 서브 메뉴*/
.sub-nav li {float:left; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top: 1px solid #ccc;margin-bottom:50px;}
.sub-nav li:first-child {border-left:1px solid #ccc;}
.sub-nav li a {font-size:18px; color:#333; display:inline-block; text-align:center; height:50px; letter-spacing:-1px;
    line-height: 1.1;padding-top: 5px;}
.sub-nav li a.lineH {line-height:2.5;} /* 한줄짜리 메뉴 line-height 조정 */


.sub-nav li a.on,
.sub-nav li a:hover {color:#fff; background:#004990;}

/* 하위메뉴 아이템별 폭 */
.sub-nav.item8 li a {width:123px; }
.sub-nav.item6 li a {width:165px; }
.sub-nav.item5 li a {width:198px; }
.sub-nav.item4 li a {width:248px; }
.sub-nav.item3 li a {width:332px; }
.sub-nav.item2 li a {width:498px; }

    /* depth3 메뉴 */
.sub-nav.depth3 {border:1px solid #004990; border-top-width:2px; border-bottom:none;display:none;z-index: 10;}
.sub-nav.depth3 > li {float:none;border:none;border-bottom:1px solid #004990;}
.sub-nav.depth3 a {background:#fff;color:#434649;font-size:17px;height:47px;}
.sub-nav.depth3 a:hover {color:#004990;background:#fff;} 

#dep3_sub2_3 {left:124px}
#dep3_sub2_4 {left:496px}
#dep3_sub2_5 {left:620px}


/* breadcrumb */
.breadcrumb {/* text-align:right; */ padding:15px 0 20px; /* border-bottom:1px solid #6c6c6c; */ background:#fff;}
.breadcrumb a {color:#666; font-size:13px;}
.breadcrumb a.on {color:#000; font-size:13px;}





/*---------------------------------------서브 본문 ------------------------------------------*/
/* 
------------------ 컬러 값 ---------------------- 

::텍스트 
basic #333
blue #004990 (오브젝트 deepblue와 동일)
sky blue #4581c9

::오브젝트
deep blue #004990 (텍스트 deep blue와 동일)
SET(blue green blue) #6699cc(sky) #66cccc(green) #4581c9(blue)
light blue #6db0d6(메인 박스그룹bg)
light sky #abcdf1(sub1_2 1행 우측)

::표 
헤더 bg(light blue) #6db0d6 
     bg(tb_blue) #3478c1

---------------------------------------------------*/

/* 폰트 스타일 __ 본문 : 16px, #333 */
.f_tit {font-size:25px; color:#004990; margin-bottom:30px;} /* 타이틀_deep blue */
.f_tit {font-size:21px; color:#004990; margin-bottom:20px;} /* 전체 폰트사이즈 수정 _170313*/
.f_tit._dep3 {font-size:25px; color:#004990; margin-bottom:30px; background:url(../images/tit_point.gif) no-repeat;padding-top:8px;}

.f_tit._long {font-size:16px;}
.f_tit._md {font-size:20px;margin-bottom:10px;}

.f_w {color:#fff;} /* 본문 컬러 white */
.f_sky {color:#4581c9;} /* 본문 컬러 skyblue */
.f_blue {color:#004990;}

/* 본문 박스 */
.box_basic {background-color:#fff; border:1px solid #dedee0; padding:25px;}
.box_gray {background:#f7f7f9; border:1px solid #ebebeb; padding:15px;}

/* 본문 오브젝트 백그라운드 컬러 */
.bg_sky {background-color:#6699cc;}
.bg_green {background-color:#66cccc;}
.bg_blue {background-color:#4581c9;}
.bg_lblue {background-color:#6db0d6;}
.bg_lsky {background-color:#abcdf1;}

.bg_obj1 {background:#40c1c2;}
.bg_obj2 {background:#3caec2;}
.bg_obj3 {background:#399dc2;}
.bg_obj4 {background:#3689c1;}


/* 들여쓰기 */
#sub1_1 ul.in li{list-style-position: inside;text-indent: -25px;padding-left: 20px;}
#sub1_2 p span.p_in{text-indent: -20px;padding-left: 20px;margin-bottom:25px;display:block;}
#sub1_3 ul.in li{list-style-position: inside;text-indent: -25px;padding-left: 20px;}
#sub2_1 ul.in li{list-style-position: inside;/*text-indent: -25px;*/padding-left: 25px; background:url('/skin/kor/images/li_icon.png') left top 5px no-repeat;}
#sub2_3 ul.in li{list-style-position: inside;text-indent: -25px;padding-left: 35px;}

/* 서브페이지 sub1_2 */
#sub1_2 li {float:left; width:488px; margin-bottom:20px;}
#sub1_2 h3 {/* height:95px; */ line-height:75px; padding-left:93px; padding-left:30px; font-size:20px; color:#fff;}
#sub1_2 h3.lts {letter-spacing:-1px;}
#sub1_2 h3 img {vertical-align:middle; padding-right:20px;   }
#sub1_2 p {min-height:240px; max-height:340px;}

/* 서브페이지 sub1_3  sub2_1 공통 box_set */
#sub1_3 li { padding-bottom:10px;}
#sub1_3 li:last-child { padding-bottom:0px;}
.box_set {margin-top:80px;margin-top:50px;}
.box_set li {float:left; margin-right:20px; width:320px; margin-bottom:20px;}
.box_set li h3 {/* height:80px; */ line-height:60px; font-size:18px; color:#fff; text-align:center;}
.box_set li p {
	position:relative;
    background-position:center -7px;  
    background-repeat:no-repeat;
    padding:40px 20px;
    background-color:#fff; 
    border-bottom:1px solid #dedee0;
    border-left:1px solid #dedee0;
    border-right:1px solid #dedee0;
    line-height:1.5;
    min-height:100px;
    max-height:100px;
}
.box_set li .arrow_sky {background-image:url(../images/arrow_sky.png);}
.box_set li .arrow_green {background-image:url(../images/arrow_green.png);}
.box_set li .arrow_blue {background-image:url(../images/arrow_blue.png);}

#sub2_1 .box_set li p {min-height:150px; max-height:230px;}
#sub2_1 .box_basic li { padding-bottom:10px;}
#sub2_1 .box_more{position:absolute; bottom:30px; left:20px;display:block;margin-top:30px;color:#3890e8;font-weight:700;text-decoration:underline;}

#sub2_3 .go_back{display:block; width:120px; padding:10px; color: #004990; background:#fff; border:1px solid #ddd;text-align:center;margin:0 auto;transition-duration:0.15s;}
#sub2_3 .go_back:hover{background:#004990;color:#fff; border:1px solid #004990;}

#sub1_3 .box_basic li:last-child { padding-bottom:0px;}
/* 서브페이지 sub1_4 */
#sub1_4 {text-align:center;}

/* 서브페이지 sub1_5 */
#sub1_5 .box_basic {margin-top:30px;}
#sub1_5 .box_basic > a {
    background-position:left center;
    padding:10px 0 10px 36px;
    background-repeat:no-repeat;
    width:240px;
    display:inline-block;
}
#sub1_5 .tel {background-image:url(../images/ico_r_tel.png);}
#sub1_5 .fax {background-image:url(../images/ico_r_fax.png);}
#sub1_5 .mail {background-image:url(../images/ico_r_mail.png);}
#sub1_5 .link {background-image:url(../images/ico_r_link.png);}

/* 161124 오시는 길 수정 */
#sub1_5 .howto > div {/* background-color:#9da2a6; */ padding:10px 20px;}
#sub1_5 .howto p {color:#fff; margin-bottom:5px;color:#333;}
#sub1_5 .howto p.new27 {text-indent: -13px; padding-left: 13px;}
#sub1_5 .howto p strong {font-size:20px; padding-right:10px;}

#sub1_5 .howto h3 {padding-left:40px; font-size:18px; margin:20px 0 0; height:31px; line-height:31px;}
#sub1_5 .howto .bus {background:url(../images/ico_r_bus.png) no-repeat left center;}
#sub1_5 .howto .car {background:url(../images/ico_r_car.png) no-repeat left center;}
/* // */

/* 서브페이지 sub2_2 */
.arrow_r_lblue {display:block; background:url(../images/arrow_r_lblue.png) no-repeat center top; margin:20px 0; width:100%; height:84px;}

/* 서브페이지 sub2_3  */
#sub2_3 .box_gray li{position:relative;padding-left:12px;padding-bottom:10px;}
#sub2_3 .box_gray li:before{position:absolute; left:0; top:9px; content:''; width:4px; height:4px; background:#555; border-radius:50%;}
/* 표 - 공통*/
.table {width:100%;}
.table th, .table td {padding:20px 0; }
.table th, .table td {padding:12px 0; }
.table th {color:#fff; text-align:center;}
.table td {
    border-bottom:1px solid #dedee0;
    border-right:1px solid #dedee0;}
.table .num {text-align:center; padding-left:0;}
.table_date {text-align:right;  
    position:absolute;
    right:0;
    top:10px; 
}
.table_footer {text-align:right;}
.table-wrap > table {float:left;}
.table-wrap:after {content:''; display:block; clear:both;}

/* table1 */
.table1 th {background:#6db0d6;/*  font-size:20px; */}
.table1 th:first-child {border-right:1px solid #4f97c0;}
.table1 td {
    /* font-size:18px; */ 
    padding-left:35px;
    background:#fff;
}
.table1 .group {/* font-size:20px; */ border-left:1px solid #dedee0;}

/* 서브페이지 sub2_4 */
/* table2 */
.table2 th {background:#3378c1; font-size:16px;}
.table2 td {text-indent:110px; background:#fff;}

    /* 170411 테이블 전체 사이즈 축소 */
#sub2_4 .table_footer,
#sub2_4 .table2 {width:70%; font-size:14px;}
#sub2_4 .table2 th, #sub2_4 .table2 td {padding:5px 0; font-size:14px;}
#sub2_4 .table2 th {background:#3378c1;}
#sub2_4_1 .table2 td {text-indent:20px;}
#sub2_4 .table2 td.group, 
#sub2_4 .table2 td:first-child {border-right:none; background:#ececec;}

#sub2_4_2 .table2_1 td:first-child,
#sub2_4_4 .table2_1 td:first-child {text-align:left;text-indent:20px;}
#sub2_4 .table2_2 td {text-align:center;text-indent:0;}
    /* // */

/* table2_1 */
.table2_1 th {padding:7px 0; border-left:1px solid #53a0f2; border-top:1px solid #53a0f2;}
.table2_1 tr:first-child th {border-top:none;}
.table2_1 tr:first-child th:first-child {border-left:none;}
.table2_1 td {text-indent:0; text-align:center;}

/* table2_2 */
.table2_2 .lineH {line-height:2.5;}

#sub2_4 .table-wrap > table {width:460px;}
#sub2_4 .table-wrap > table:first-child {margin-right:60px;}
#sub2_4 .go_top {display:block; margin-top:20px; width: 79px;}

/* 서브페이지 sub2_5 */
/* table2_3 */
.table2_3 td {padding:10px 0; text-indent:0; text-align:center;}
.table2_3 td:first-child {padding-left:65px; text-align:left;}

/* table2_4 */
.table2_4 tr:first-child td {border-top:1px solid #dedee0;}
.table2_4 td {padding:10px; text-indent:0; font-size:14px;}
.table2_4 .num {border-left:1px solid #dedee0; padding:10px;}
.table2_4 .bg_blue td {background:#337bc1; color:#fff; border-color:#fff;}


/* 서브페이지 sub2_6 */
.table1_1 td, .table1_1 th{text-align:center; padding-left:0;}
.table1_1 td{/* height:110px; font-size:30px;*/ background:#fff;  }
.table1_1 .bg_sky {background-color:#6699cc;}
.table1_1 .bg_green {background-color:#66cccc;}
.table1_1 .bg_blue {background-color:#4581c9;}
.table1_1 th, .table1_1 td:first-child {color:#fff;}
.table1_1 th {/* font-size:20px; */ margin-bottom:10px; border-left:1px solid #4f97c0;}
.table1_1 th:first-child {border:none;    }
.table1_1 .group {/* font-size:30px; */}

.table1_1 .nbsp td {
    border:none; background:none; height:2px; padding:0; font-size:0;
    border-bottom:1px solid #dedee0;
}
.table1_1 .nbsp:first-child td {
    height:10px;
}

/* 서브페이지 sub3_1 */
.training .obj {padding:15px 10px; color:#fff; margin-top:10px;}
.training .obj:first-child  {margin-top:0;}
/* 서브페이지 sub3_6 */
/* #sub3_6 .table1_1 .group {text-align:left; padding-left:80px;} */

/* 서브페이지 sub7_1 */
.link_site {background:#efefef; padding:25px;}
.link_site li {float:left; margin-right:25px; }
.link_site li a {display:block; width:298px;  height:120px; margin-bottom:15px;}
.link_site li a span {display:block; margin-top:5px;}

/* 테이블-폼 스타일 */
.table_form {width:100%;}
.table_form th, .table_form td {padding:15px; border-bottom:1px solid #dfdfdf;}
.table_form th {background:#f7f7f9;}
.table_form td input[type="text"] {width:100%; border:1px solid #dfdfdf; text-indent:10px; height:28px;}
.table_form textarea {border:1px solid #dfdfdf; padding:10px;}

.form_btn_group {margin-top:30px; text-align:center;}
.form_btn_group .btn_confirm {width:108px;height:37px;background:url(../images/btn_confirm_off.jpg) no-repeat;text-indent: -9999px;position: relative;
top: -13px;}
.form_btn_group .btn_confirm:hover {background:url(../images/btn_confirm_on.jpg) no-repeat;}
.form_btn_group .btn_cancel {display:inline-block;width:108px;height:37px;background:url(../images/btn_cancel_off.jpg) no-repeat;}
.form_btn_group .btn_cancel:hover {background:url(../images/btn_cancel_on.jpg) no-repeat;}

.table_form .third input {width:20%;}
.table_form .star:after {
    content:'*';
    display:inline-block;
    padding-left:5px;
    color:#d42907;
}
.table_form .desc {color:#3378c1; font-size:13px;}
.table_form input.num {width:20%;}

#sub4_2 .table_form th {padding-left:40px;}
#sub4_2 .table_form .num {width:20%;}

#sub4_4 .table_form th {text-align:center;}
#sub4_4 .table_form th, #sub4_4 .table_form td {border-right:1px solid #dfdfdf;} 
#sub4_4 .table_form tr:first-child th, #sub4_4 .table_form tr:first-child td {border-top:1px solid #dfdfdf;}
#sub4_4 .table_form th:first-child {border-left:1px solid #dfdfdf;}
#sub4_4 .table_form2 tr:first-child td {border-top:none;}
#sub4_4 .table_form2 td:first-child {border-left:1px solid #dfdfdf;}
#sub4_4 .table_form2 a {text-decoration:underline;}
/* 조회된 업체명 클릭시 서브메뉴 */
#sub4_4 .table_form3 td:first-child {border-left:1px solid #dfdfdf;}

/* sub5_1 member's only */
.member_login {background:url(../images/login.png) no-repeat left center; padding-left:240px;}
.member_login table {width:585px; margin:35px 0;}
.member_login table td {height:65px;}
.member_login p {color:#264c95;}
.member_login .wrong {color:#ff1616;}
.member_login table td input {height:50px; width:100%; border:1px solid #d1d1d1; background:#fff; padding-left:20px;}

/* sub5_3 download */
.table_down {width:100%;}
.table_down th {height:55px; text-align:center; background:#efefef; border-top:1px solid #ccc;  border-left:1px solid #e2e2e2;}
.table_down td {padding:15px 0; border-right:1px solid #e2e2e2; background:#fff; border-bottom:1px solid #e2e2e2;}
.table_down th:first-child {border-left:none;}
.table_down th.last, .table_down td.last {border-right:none;}
.table_down .down {text-align:center;}
.table_down .down a {background:#fff url(../images/btn_down_off.png) center no-repeat; display:inline-block; width:79px; height:26px;}
.table_down .down.on a, .table_down .down a:hover {background:#fff url(../images/btn_down_on.png) center no-repeat;}
.table_down .group {text-align:center;}
.table_down .subject {padding-left:20px; }

/* complete [신청완료] */
#complete p {text-align:center; line-height: 1.8;}
#complete p:first-child {padding-top:270px;}
#complete .box_basic {background-image:url(../images/ico_complete.png); background-repeat:no-repeat; background-position:center 120px; 
min-height:600px;}
.comp_p_big {font-size:28px; color:#333; font-weight:bold;}
.comp_p_sm {font-size:18px; color:#666;}
.comp_p_big span {font-size:32px; color:#004990;}
#complete .form_btn_group {margin-top:50px;}

/* 국문사이트 스타일 조정 */
.box-area .box p {line-height:1.5;}
.box-area .box1 p {    min-height: 135px;}
.box-area .box7 p {    min-height: 135px;}
.box-area .box8 p {    min-height: 125px;}
.box-area .box9 p {    min-height: 150px;}
.box-area .box10 {background-position-y:195px;}
.sub-nav.item3 li a {width:331px; }
.btn_address {background: #004990;color: #fff;padding: 2px 5px;}

/* branch */
.branch_table {border-top:1px solid #ccc;}
.branch_table td {border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.branch_table td img {width:70%;}
.branch_table td:first-child {border-left:1px solid #ccc;}
.branch_table td:nth-child(odd) {text-align:center;}
.branch_table td:nth-child(even) {vertical-align:top;padding-left:15px;}
.branch_table td {padding:10px 0;}
.branch_table td strong {}

.text_new_sty {margin-top:10px;}
.text_dot {display:inline-block; width:2%; vertical-align: top;}
.text_cont {display:inline-block; width:97%; vertical-align: top; margin-bottom: 15px;}

.sub_bg_desk {background: #f7f7f9; border: 1px solid #ebebeb; padding: 15px;overflow:hidden;}
.flow_area li:nth-child(11)::after {display: none;}
.flow_area li {float: left; vertical-align: top; box-sizing: border-box; height: 80px; display: flex; align-items: center;}

.flow_area li:nth-child(n+1):nth-child(-n+2) {height:130px;}
.flow_area li:nth-child(1)::after {top: 134px;}

.flow_area .blu {position: relative; width: 30%; background: #004990; color: #fff; font-size: 18px; text-align: center; margin-right: 4%; margin-bottom: 3%; justify-content: center;}
.flow_area .blu::after {content: ''; display: inline-block; position: absolute; left: 45%; top: 84px; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%2310a2df' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='208 96 128 176 48 96' fill='none' stroke='%2310a2df' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/polyline%3E%3C/svg%3E"); background-repeat: no-repeat; width: 20px; height: 20px; background-position: center; background-size: 100%;}
.flow_area .gra {width: 638px; background: #fff; color: #000; font-size: 15px; text-align: left; padding: 0 10px; margin-bottom: 3%; border: 1px solid #ddd; }
.flow_area li:last-child::after {display: none;}

.needs_table {width:100%;}
.needs_table th {background: #006ead; text-align: center; width: 50%; color: #fff; height: 50px; font-weight:700;}
.needs_table th:nth-child(2) { border-left: 1px solid #175375;}
.needs_table td {background: #fff; text-align: center; width: 50%; height: 50px; border-bottom: 1px solid #ddd; letter-spacing: -0.5px;}
.needs_table td:nth-child(2n) { border-left: 1px solid #ddd;}
@media (max-width: 768px) {
    .page-content .table_wrap {display: block;}
    
}

